<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <h2> <%= products.id %>  </h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum neque dolore iusto nihil corporis? A explicabo veritatis iure rem quasi! Delectus dolores dignissimos optio et aut ipsam impedit laboriosam sunt!</p>
</body>
    <%- include("../partials/footer.ejs") %>
</html>