<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <article class="contenedor-articulo">
        <div>
            <h3>Cafetera Moulinex</h3>
        </div>              
        <img src="/img/<%= products.image %>" alt="Cafetera Moulinex" width="80%">
        <div class="articulo-x">
            <div class="logo-envio">
                <i class="fas fa-truck fa-1"></i>
            </div>
            <div class="sub-articulo-x">
                <p class="precio">$6.770</p>
                <p class="descuento">40% Off</p>
            </div>                  
        </div>                 
    </article>
</body>
    <%- include("../partials/footer.ejs") %>
</html>