<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <section class="forms">
        <h2>Login de usuario</h2>
            <form action="/" method="GET" class="form-registro">
            <div class="control-formulario">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="control">
            </div>
            <div class="control-formulario">
                <input type="password" name="password" class="control" minlength="8" maxlength="15" placeholder="Contraseña">
            </div> 
            <button type="submit" class="boton">Enviar</button> 
            </form>
    </section>
</body>
    <%- include("partials/footer.ejs") %>
</html>