<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/46b0370ee7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>  
    <section class="forms">
        <h2>Registro de usuario</h2>
        <form action="/" method="GET" class="form-registro">
            <div class="control-formulario">
                <input type="text" name="nombre-apellido" placeholder="Nombre y Apellido" class="control">
            </div>
            <div class="control-formulario">
                <input type="text" name="usuario" placeholder="Usuario" class="control">
            </div>
            <div class="control-formulario">
                <input type="date" name="fecha-nacimiento" placeholder="Fecha de nacimiento" class="control">
            </div>
            <div class="control-formulario">
                <input type="text" name="domicilio" placeholder="Domicilio" class="control">
            </div>
            <div class="control-formulario">
                <label>Seleccioná tu perfil de usuario:</label>
                <label><input  type="radio" name="perfil-usuario" value="Comprar">Comprar</label>
                <label><input type="radio" name="perfil-usuario" value="Vender">Vender</label>
            </div>
            <div class="control-formulario">
                <label>Categorías de interés:</label>
                <label><input type="checkbox" name="categorias" value="electro">Electro</label>
                <label><input type="checkbox" name="categorias" value="moda">Moda</label>
                <label><input type="checkbox" name="categorias" value="hogar">Hogar</label>
                <label><input type="checkbox" name="categorias" value="jugueteria">Juguetería</label>
                <label><input type="checkbox" name="categorias" value="vida-sana">Vida sana</label>
            </div> 
            <div class="control-formulario">
                <label>Ingresá una foto</label>
                <input type="file" name="avatar" accept=".jpg" multiple class="control">
            </div> 
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="password" class="control" minlength="8" maxlength="15">
            </div>  
            <div class="control-formulario">
                <label>Confirmar contraseña:</label>
                <input type="password" name="password" class="control" minlength="8" maxlength="15">
            </div>  
                <button type="reset" class="boton">Borrar</button>
                <button type="submit" class="boton">Enviar</button>
        </form> 
    </section>     

</body>
<footer class="pie">
        <div class="logo-footer">
            <i class="fas fa-credit-card fa-3x"></i>
        </div>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <div>Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y simepre es seguro!</div>
        <div class="logo-footer">
            <i class="fas fa-gift fa-3x"></i>
        </div>
        <h3><strong>Envío gratis desde $2500</strong></h3>
        <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        <div class="logo-footer">
            <i class="fas fa-user-shield fa-3x"></i>
        </div>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</div>
        <div class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>

    </footer>
</html>