<footer>
    <div class="cont-footer">
        <div class="logo-footer">
            <i class="fas fa-credit-card fa"></i>
        </div>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <div>Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y simepre es seguro!</div>
        <div class="logo-footer">
            <i class="fas fa-gift fa"></i>
        </div>
        <h3><strong>Envío gratis desde $2500</strong></h3>
        <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
        <div class="logo-footer">
            <i class="fas fa-user-shield fa"></i>
        </div>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</div>
        <div class="copyright"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></div>
    </div>

</footer>