<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <p class="error">OOPS!! Error 404. La pagina que estas buscando no está disponible</p>
    <img src="./img/doh-homer.jpg" alt="">

    
</body>
</html>