
<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <section class="forms">
        <h2>Login de usuario</h2>
        <% if (locals.errors) { 
            errors.forEach(error => { %>
            <p class="errorCreate"><%= error.msg %> </p>             
        <% }) 
         }
         %> 
            <form action="./login" method="POST" class="form-registro">
            <div class="control-formulario">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="control">
            </div>
            <div class="control-formulario">
                <input type="email" name="email" placeholder="e-mail" class="control">
            </div>
            <div class="control-formulario">
                <input type="password" name="password" class="control" minlength="8" maxlength="15" placeholder="Contraseña">
            </div> 
            <div class="recordame">
            <label>Recordame</label>
            <input type="checkbox" name="recordame">
            </div>
            
            <button type="submit" class="boton">Enviar</button> 
            </form>
    </section>
</body>
    <%- include("../partials/footer.ejs") %>
</html>