<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>  
    <section class="forms">
        <h2>Registro de usuario</h2>
        <form action="/" method="GET" class="form-registro">
            <div class="control-formulario">
                <input type="text" name="nombre-apellido" placeholder="Nombre y Apellido" class="control">
            </div>
            <div class="control-formulario">
                <input type="text" name="usuario" placeholder="Usuario" class="control">
            </div>
            <div class="control-formulario">
                <input type="date" name="fecha-nacimiento" placeholder="Fecha de nacimiento" class="control">
            </div>
            <div class="control-formulario">
                <input type="text" name="domicilio" placeholder="Domicilio" class="control">
            </div>
            <div class="control-formulario">
                <label>Seleccioná tu perfil de usuario:</label>
                <label><input  type="radio" name="perfil-usuario" value="Comprar">Comprar</label>
                <label><input type="radio" name="perfil-usuario" value="Vender">Vender</label>
            </div>
            <div class="control-formulario">
                <label>Categorías de interés:</label>
                <label><input type="checkbox" name="categorias" value="electro">Electro</label>
                <label><input type="checkbox" name="categorias" value="moda">Moda</label>
                <label><input type="checkbox" name="categorias" value="hogar">Hogar</label>
                <label><input type="checkbox" name="categorias" value="jugueteria">Juguetería</label>
                <label><input type="checkbox" name="categorias" value="vida-sana">Vida sana</label>
            </div> 
            <div class="control-formulario">
                <label>Ingresá una foto</label>
                <input type="file" name="avatar" accept=".jpg" multiple class="control">
            </div> 
            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="password" class="control" minlength="8" maxlength="15">
            </div>  
            <div class="control-formulario">
                <label>Confirmar contraseña:</label>
                <input type="password" name="password" class="control" minlength="8" maxlength="15">
            </div>  
                <button type="reset" class="boton">Borrar</button>
                <button type="submit" class="boton">Enviar</button>
        </form> 
    </section>     

</body>
    <%- include("../partials/footer.ejs") %>
</html>